@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

a{
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .form{
    width: 30%!important;
    justify-content: center;
    /* border: 2px solid black; */
    /* border-radius: 20px ; */
    box-shadow: 5px 5px 10px;
    /* padding: 25px; */
}



.container .form .title{
    width: 100%!important;
    display: flex;
    justify-content: center;
    align-items:center ;
    text-align: center;
    margin: 20px 0;
    font-size: 1.2rem;
}

.err{
    width: 100%!important;
    display: flex;
    justify-content: start;
    align-items:center ;
    text-align: center;
    margin: 20px 0;
    font-size: 1.2rem;
    
}

.container .form .mail{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.container .form .pass{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.container .form .cred{
    width: 100%;
    border: none;
    border-bottom: 1px solid  black;
    outline: none;
    padding: 5px;
    font-size: 1.2rem;
}

.controls{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    margin: 10px 0;

}

.btn{
    width: 6rem;
    padding: 8px;
    background: blue;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}